extends layout

block content
	div#wrapper
		header#masthead
			h1 TRACKR
		
		div#app
			!= app
		
		footer#site-footer
			span Trackr 0.0.1 &mdash; Powered by
				a(href='http://tfrrs.org')
						img(src="/images/tfrrs_logo.png" height="30")#tfrrs-logo