doctype html
html
	head
		title Trackr
		link(rel='stylesheet', href='/stylesheets/style.css')
		
	body
		block content
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
		script(src='/javascripts/client.js')
		script(src='/javascripts/d3/d3.min.js')
		script(src='/javascripts/d3-tip.js')
		script(src='/javascripts/html.sortable.min.js')