body {
	margin: 0;
	background-image: url('/images/bg-graph-paper.gif');
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#masthead h1 {
	font-family: 'Rock Salt', cursive;
	font-size: 40px;
	color: #DB3232;
	margin: 10px 40px;
}

a {
	color: #00B7FF;
}

#top-bar {
	padding: 15px;
	text-align: center;
	background-color: white;
	box-shadow: 1px 1px 3px 2px #999999;
	font-size: 18px;
}

#top-bar label {
	font-size: 16px;
}

#welcome-tip {
	display: block;
	width: 500px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	height: initial;
	padding: 1px 15px;
}
.panel {
	display: inline-block;
	background-color: white;
	box-shadow: 1px 1px 3px 2px #999999;
	margin: 20px;
	width: 550px;

	height: 380px;
	padding: 5px;
}

.panel h1 {
	margin: 5px 0 20px 5px;
	color: #133973;
}


.close-panel {
	padding: 5px;
	height: 15px;
	width: 12px;
	float: right;
	text-align: left;
	font: bold 15px arial, sans-serif;
	cursor: pointer;
}

/* ################################ Key Styles ################ */

#athletes-key  {
	margin: auto;
	margin-top: 10px;
	width: 800px;
}

.label {
	margin: 5px 20px;
	display: inline-block;
}

.color-label {
	display: inline-block;
	width: 1em;
	height: 1em;
	margin-left: 5px;
	margin-top: 2px;
	vertical-align: top;
}

/* ################################ Viz styles ################ */

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke-width: 2px;
}

.dot:hover {
	stroke: rgba(0, 0, 0, 0.8);
}

svg {
	font: 10px sans-serif;
}

/* ##################################### Tooltip styles ################## */

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  max-width: 300px;
}

.d3-tip p {
	margin: 0;
}

.d3-tip span {
	color: steelblue;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}