extends layout

block content
	header#masthead
		h1 Trackr
		
	section#top-bar
		form#get-url
			label(for="tfrrs_url") tffrs.org/
			input(type="text", name="tfrrs_url", id="tfrrs_url", value="athletes/3273206.html")
			input(type="submit", value="Get Data")
	section#content
		div#graphs