doctype html
html
head
		title Trackr
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Rock+Salt')
	body
		block content
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
		script(src='/javascripts/client.js')